<section>
  <h1>Titolo Corso</h1>  
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dolores numquam maxime laudantium, ea blanditiis ratione nihil quae beatae modi, exercitationem accusantium ducimus aliquam atque esse mollitia! Quasi, similique et.</p>
  <p class="mt-3">Autore</p>
</section>
